{# @var section \cf47\plugin\realtyspace\module\property\section\hero\HeroView #}
{% set tooltip_template_id = js_template('property-map-tooltip', 'modules/property/misc/map-tooltip.twig') %}
{% set module_id = js_module('hero', {
'infoboxTemplate': tooltip_template_id,
'theme': section.map_infobox_theme,
'fullscreen': section.fullscreen,
'mapEnabled': section.map_enabled,
'animate': section.animation_disabled
}) %}
{% set form = section.search_form %}
{% from 'macro.twig' import thumbnail_src %}
{% extends 'section-widget.twig' %}

{% block content %}
  <div class="banner banner--wide">
    <div class="banner__item" {% if not section.background_image and not section.is_vc %}style="background-color: #2C3E50;" {% endif %}>
      <div class="map map--index map--banner">
        <div class="map__buttons">
          <button type="button" class="map__change-map js-map-btn">{{ __('Property Map', 'realtyspace') }}</button>
        </div>
        <div class="map__wrap">
          <div data-infobox-theme="white" class="map__view js-map-index-canvas"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="banner__caption">
            <h1 class="banner__title">{{ section.title }}</h1>
            <h3 class="banner__subtitle">{{ section.subtitle }}</h3>
            <span class="banner__btn {{ section.animation_disabled ?  'is-static' : ''}}">{{ section.action_text }}</span>
            <div class="banner__arrow-circle">•</div>
            <svg class="banner__arrow-end js-arrow-end">
              <use xlink:href="#icon-arrow-end"></use>
            </svg>
            <div class="banner__arrow">
              <svg class="js-banner-line" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 774 284" enable-background="new 0 0 774 284" xml:space="preserve">
                          <path fill="none" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="0,2004.009" d="M220.6,239.6
                          c-3.6-15.5-17.5-27.1-34.1-27.1h-150c-19.3,0-35,15.7-35,35c0,19.3,15.7,35,35,35c0,0,88,0,150,0c169,0,244.9-7.5,291-19
                          c41.3-10.2,114.1-33.7,118-83c4.2-53.5-59.4-67.5-102-54c-47.2,15-52.3,78.2,1,90c58.1,12.9,169.6-53.6,274.7-210"/>
                        </svg>
            </div>
            {% if section.scroll_text is not empty %}
              <div class="banner__scroll-down">
                <svg class="banner__scroll-svg">
                  <use xlink:href="#icon-scroll-down"></use>
                </svg>
                <div class="banner__scroll-text">{{ section.scroll_text }}</div>
              </div>
            {% endif %}
          </div>
          <div class="banner__search">
            <h4 class="banner__sidebar-title">{{ section.title }}</h4>
            {% if section.show_form_shortcode %}
              <div class="form  js-search-form form--light form--banner-sidebar">
                {{ section.form_shortcode|raw }}
              </div>
            {% else %}
              <!-- BEGIN SEARCH-->
              <form action="{{ section.form_link }}" class="form form--search js-search-form form--banner-sidebar form--light form--slider" method="get">
              {# form_start(form, {'attr': {'class': 'form form--search js-search-form form--light form--banner-sidebar'}}) #}
              {{ form_widget(form, {'attr': {'class': 'row'}}) }}
              <div class="row form__buttons">
                <button type="submit" class="form__submit">{{ __('Search', 'realtyspace') }}</button>
              </div>
              {{ form_end(form) }}
              <!-- END SEARCH-->
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}