{% from 'modules/user/macro.twig' import avatar %}
{% if current_user %}
  <nav class="nav nav--auth">
    <ul class="nav__list">
      {% if layout.my_properties_page_id %}
        <li class="nav__item">
          {% set page =  wpurl.page_url_with_name(layout.my_properties_page_id) %}
          <a href="{{ page.url|e('esc_url') }}" class="nav__link">
            {{ page.name }}
          </a>
        </li>
      {% endif %}
      {% if layout.submit_property_page_id %}
        <li class="nav__item">
          {% set page =  wpurl.page_url_with_name(layout.submit_property_page_id) %}
          <a href="{{ page.url|e('esc_url') }}" class="nav__link">
            {{ page.name }}
          </a>
        </li>
      {% endif %}
      {% if layout.profile_page_id %}
        <li class="nav__item">
          {% set page =  wpurl.page_url_with_name(layout.profile_page_id) %}
          <a href="{{ page.url|e('esc_url') }}" class="nav__link">
            {{ page.name }}
          </a>
        </li>
      {% else %}
        <li class="nav__item">
          <a href="{{ current_user.profile_edit_url }}" class="nav__link">
            {{ __('Profile', 'realtyspace') }}
          </a>
        </li>
      {% endif %}
      <li class="nav__item">
        <a href="{{ current_user.logout_url|raw }}" class="nav__link">
          {{ __('Log out', 'realtyspace') }}
        </a>
      </li>
    </ul>
  </nav>
{% endif %}